.line:first-child {
    animation: anim 10s infinite;
}

.viewShadow::-webkit-scrollbar {
    width: 5px;
}

.viewShadow::-webkit-scrollbar-track {
    background: transparent;
}

.viewShadow::-webkit-scrollbar-thumb {
    background: #71767b;
}

.feed::-webkit-scrollbar-thumb:hover {
    background: #d6d9db;
}

@keyframes anim {
    25% {
        margin-top: 0;
    }

    50% {
        margin-top: -2rem;
    }

    75% {
        margin-top: -4rem;
    }

    100% {
        margin-top: -6rem;
    }
}