.feed::-webkit-scrollbar {
    width: 5px;
}

.feed::-webkit-scrollbar-track {
    background: transparent;
}

.feed::-webkit-scrollbar-thumb {
    background: #71767b;
}

.feed::-webkit-scrollbar-thumb:hover {
    background: #d6d9db;
}